.loan-application-header, .loan-application-container {
  display: grid;
  grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9% 5% 5%;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  color: #BDC3C7;
}

#new-loan-application {
  display: grid;
  grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9% 5% 5%;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  color: #BDC3C7;
  background-color: gray;
}


.loan-application-header {
  background-color: #333;
}




